<div class="auth-container">
<h2>Register</h2>
<form action="/register" method="POST">
<div class="form-control">
    <label for="name">Nome:</label>
    <input type="text" name="name" placeholder="Digite seu nome ">
</div>
<div class="form-control">
    <label for="email">Email:</label>
    <input type="email" name="email" placeholder="Digite seu Email ">
</div>
<div class="form-control">
    <label for="password">Senha:</label>
    <input type="password" name="password" placeholder="Digite sua senha ">
</div>
<div class="form-control">
    <label for="confirmpassword">Confime sua Senha:</label>
    <input type="password" name="confirmpassword" placeholder=">Confime sua Senha">
</div>
<input type="submit" value="Cadastrar">
<p>Já pussui uma conta?<a href="/login">Clique aqui</a></p>
</form>
</div>